<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="main">
    <form>
      <div class="row">
        <div class="col s4">
          <input type="text" ng-model="person.name" />
        </div>
        <div class="col s4">
          <ui-select ng-model="person.brothers" items="items"></ui-select>
        </div>
        <div class="col s4">
          <input type="text" ng-model="person.mom" />
        </div>
      </div>
    </form>

    <pre>{{person |json}}</pre>
    <hr />

    <!-- <div class="ui-select-container">
      <div class="ui-select-placeholder">Selecionar</div>
      <div class="ui-select-dd-content">
        <div class="ui-select-filter">
          <input type="text" placeholder="Pesquisar" />
        </div>
        <div class="ui-select-check-all">
          selecionar tudo
        </div>
        <div class="dd-content">
          <div>mlemlkwe</div>
        </div>
      </div>
    </div> -->
    <script src="./node_modules/angular/angular.min.js"></script>
    <script>
      angular
        .module("app", [])
        .directive("uiSelect", uiSelectDirective)
        .controller("main", mainCtrl);

      function uiSelectDirective($compile) {
        return {
          restrict: "E",
          scope: {
            items: "=",
          },
          require: "ngModel",
          link: function (scope, element, attr, model) {
            scope.selected = [];
            scope.ids = [];
            scope.isAllSelected = false;
            scope.opened = false;

            scope.select = function (item, event) {
              event.stopPropagation();
              let index = scope.selected.findIndex((i) => i.id == item.id);
              if (index != -1) {
                scope.selected.splice(index, 1);
                scope.ids.splice(index, 1);
              } else {
                scope.selected.push(item);
                scope.ids.push(item.id);
              }
              model.$setViewValue(scope.selected);

              checkAllSelected();

              console.log(scope.ids);
            };

            scope.selectAll = function (event) {
              event.stopPropagation();
              if (!scope.isAllSelected) {
                scope.selected = angular.copy(scope.items);
                scope.ids = scope.items.map((i) => i.id);
                scope.isAllSelected = true;
              } else {
                scope.selected = [];
                scope.ids = [];
                scope.isAllSelected = false;
              }

              model.$setViewValue(scope.selected);
            };

            function checkAllSelected() {
              scope.isAllSelected = scope.selected.length == scope.items.length;

              console.log(scope.isAllSelected);
            }

            scope.click_input = function (event) {
              event.stopPropagation();
            };

            scope.isActive = function (id) {
              console.log(id);
              return scope.ids.indexOf(id) != -1;
            };

            const dd = `
                      <div class="ui-select-container" ng-click="opened = !opened">
                        <div class="ui-select-placeholder">Selecionar</div>
                        <div class="ui-select-dd-content" ng-if="opened">
                          <div class="ui-select-filter">
                            <i class="material-icons">filter_list</i>
                            <input ng-click="click_input($event)" type="text" placeholder="Pesquisar" ng-model="internal_search" />
                          </div>
                          <div class="ui-select-check-all" ng-click="selectAll($event)">
                            <i class="material-icons" ng-class="{'active' : isAllSelected}">{{isAllSelected ? 'check_box' : 'check_box_outline_blank'}}</i>
                            selecionar tudo
                          </div>
                          <div class="dd-content">
                            <div
                              class="dd-item"
                              ng-repeat="i in (filtered = (items | filter: internal_search))"
                              ng-click="select(i, $event)"
                            >
                              
                              <i class="material-icons" ng-class="{'active' : isActive(i.id)}">{{isActive(i.id) ? 'check_box':'check_box_outline_blank'}}</i>
                              {{i.name}}
                            </div>
                          </div>

                          <div class="dd-empty-search" ng-if="!filtered.length">
                            <span>Sem resultado para <b>{{internal_search}}</b></span>
                          </div>

                          <div class="dd-backdrop"></div>
                        </div>
                      </div>
                    `;

            let e = $compile(dd)(scope);

            console.log(model);
            element.append(e);
          },
        };
      }

      function mainCtrl($scope) {
        $scope.person = {
          name: "",
          brothers: [],
          mom: "",
        };
        $scope.items = [
          {
            id: 1,
            name: "Alex Alan Nunes",
          },
          {
            id: 2,
            name: "kevina Aline",
          },
          {
            id: 3,
            name: "Victor Gabriel",
          },
        ];
      }
    </script>
  </body>
</html>
